::selection {
  background-color: var(--r-link-color-hover) !important;
}

.bold {
  font-weight: bold;
  transform: scale(1.01);
}

.coding {
  font-family: monospace;
}

.js {
  color: yellow;
  background-color: #ffe23e;
  background-image: linear-gradient(0deg, #6b6b3a 10%, #f3d21a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.art {
  color: hotpink;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
