::selection {
  background-color: var(--r-link-color-hover) !important;
}

.bold {
  font-weight: bold;
  transform: scale(1.01);
}

.coding {
  font-family: monospace;
}

.js {
  color: yellow;
  background-color: #ffe23e;
  background-image: linear-gradient(0deg, #263336 10%, #f3d21a 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.art {
  color: hotpink;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}